@media  (max-width:425px) {
    .name-container{
        flex-direction: column;
        gap: 1rem;
    }
    /* .input{
        width: 100%;
    } */
    textarea{
        min-width: 100%;
    }

}
@media (max-width:380px){
    form{
        width: 350px;
    }
}
@media (max-width:330px) {
    form{
        width: 300px;
    }
}

